@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

body {
    margin: 8%;
    /* padding: 10px;  */
    font-family: 'Source Sans Pro', sans-serif; 
}

#content {
    width: 800px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 5%;
  }

#tokyo{
    margin-left: 30%;
    margin-top: 5%;
}
h2 {
    font-size: 5vw;
    font-family: 'Monospace';
}
h3 {
    margin-top: -2%;
    opacity: 0.3;
}
.profilepic{
    height: 145px;
    width: 145px;
}
.graphing{
    margin-top: -5%;
    height: 80%;
    width: 80%;
}
.skin{
    margin-top: 60;
}
.icon{
    height: 25px;
    width: 25px;
}
.topic-icon{
    height: 30px;
    width: 30px;
    padding: 5px;
    vertical-align: middle;
}

.topic-title{
    margin-bottom: 10px;
}

/* https://stackoverflow.com/questions/1165497/how-to-prevent-text-from-overflowing-in-css */
.wrapper {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 2fr 2fr 2fr;
    grid-auto-flow: dense;
    padding: 0.5rem;
    word-wrap: break-word
}

/* https://www.w3schools.com/cssref/css3_pr_mediaquery.php */
@media only screen and (max-width: 600px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
  }

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px)  {
    .wrapper {
        grid-template-columns: 1fr;
    } 
}

@media only screen 
and (min-device-width: 360px) 
and (max-device-width: 740px)  {
    .wrapper {
        grid-template-columns: 1fr;
    }
}

@media only screen 
and (min-device-width: 280px) 
and (max-device-width: 653px)  {
    .wrapper {
        grid-template-columns: 1fr;
    }
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
    margin-top: -40px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: white;
  color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.cplus {
    border-right: 1px solid gray;
    /* position: relative; */
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child1 {
    border: 1px solid gray;
    width: 32%;
    float: left;
    padding: 10px;
    /* border: 2px solid black; */
}  
.float-child2 {
    width: 68%;
    margin-top: -30px;
    float: right;
    padding: 20px;
    /* border: 2px solid black; */
}  

.float-container1 {
    padding: 20px;
    overflow: hidden;
}

.float-child3 {
    border: 1px solid gray;
    width: 32%;
    float: left;
    padding: 10px;}

.float-child4 {
    width: 63%;
    float: right;
    padding: 20px;
    margin-bottom: 90px;
    margin-left:10px;
    border: none;
}

.image-container {
    /* float: lef; */
}

.text-container {
float: right;
width: 95%;
padding-left: 2px;
margin-top: -1px;
}

.intro-container {
    overflow:hidden;
    padding: 20px;
}

.intro-right {
    float: right;
    width: 35%;
    border-radius: 20%;
    margin-top: 10px;
}

.intro-left {
    float: left;
    width: 40%;
}

.profile-style{
    margin-left: -60px;
    margin-top: 20px;
}

.right-circle{
    width: 150px;
    height: 150px;
    border-radius: 80px;
    border: 3px solid black;
}

.intro-line{
    line-height: 25px;
}